body {
  font-family: Helvetica;
}

body::-webkit-scrollbar {
  display: none;
}

.app {
  display: flex;
  align-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
}



div.row {

  div.logo{
    display: flex;
  }

  div.logo>img{
    margin: 5px;
    align-self: flex-start;
  }

  .msgs-list{
    overflow-y: scroll;
  }


  .channels {
    color: white;
    background-color: rgba(17, 90, 160,1);
    height: 100vh;

    li:hover{
      cursor: pointer;
      opacity:0.5;
    }

    li {
      list-style: none;
    }
  }

}

div.msg {
  padding: 15px;
  border: 1px solid rgba(17, 90, 160,0.3);
  margin: 5px;
  border-radius: 25px;
  color: rgba(17, 90, 160,1);
}

div.msg-panel {

  padding: 0;

  div.msgs-list{
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
  }

  div.form {
    display: flex;
    justify-content: center;
    margin-top: 2%;

    form{
      display: flex;
    }

    input:first-child{
      width: 30vw;
      border-radius: 25px;
      border: 1px solid rgba(17, 90, 160,1);
      margin: 5px;
    }

    input:last-child{
      border-radius: 25px;
      padding: 5px 15px;
      border: 1px solid white;
      background-color: rgba(17, 90, 160,1);
      color: white;
      margin: 5px;
    }

    input:last-child:hover{
      opacity: 0.5;
    }
  }
}

div.channels>form {
  width: 50%;
  position: absolute;
  bottom: 3%;
  left: 33%;
}



div.channels>form>button{
  border-radius: 25px;
  padding: 5px 15px;
  border: 1px solid white;
  background-color: rgba(17, 90, 160,1);
  color: white;
}

div.channels>form>button:hover{
  opacity: 0.5;
}

div.logos {
  opacity: 0.7;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

@media (min-width: 576px) {
    div.logos {
      position: fixed;
      bottom: 0;
      left: 0;
    }
  }

@media (max-width: 576px){
  div.logos {
      position: absolute;
      top: 0;
      right: 0;
  }
}
